.description {
    resize: both;
}

.fname > input, .lname > input, .email > input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.email > input {
    background-color: #3cbc8d;
    color: white;
}

.email > input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}
